<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dapurami">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".your_order"></activity>
        <activity android:name=".notification" />
        <activity android:name=".Vooting" />
        <activity android:name=".profile" />
        <activity android:name=".ready_menu" />
        <activity android:name=".drink_menu" />
        <activity android:name=".food_menu" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".tracking_order_transfer" />
        <activity android:name=".tracking_order_cod" />
        <activity android:name=".tracking_order_cash" />
        <activity android:name=".detail_order" />
        <activity android:name=".order_sukses" />
        <activity android:name=".check_out" />
        <activity android:name=".detail_makanan_preview" />
        <activity
            android:name=".cart"
            android:noHistory="true" />
        <activity android:name=".detail_makanan" />
        <activity
            android:name=".home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".register" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:noHistory="true" />
        <activity
            android:name=".after_splash"
            android:noHistory="true" />
        <activity android:name=".MainActivity" />

    </application>

</manifest>